@font-face {
  font-family: "Palash";
  src: url("../assets/fonts/Palash-Regular.otf")
}
:root {
  --dark-red: #6D1E12;
  --salmon-red: #B35543;
}

html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Poppins, Helvetica, Arial, sans-serif;
  background-color: #F3E9E0;
}

h1, h2, h3 {
  font-family: Palash, serif;
  color: var(--salmon-red);
  font-weight: 400;
}
h3 {
  font-size: 1.875rem;
}
h5 {
  color: var(--salmon-red);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
